In [1]:
import numpy as np
import pandas as pd

In [2]:
X_train = pd.read_csv("train.csv")
X_test = pd.read_csv("test.csv")

In [5]:
X_train.shape

(42000, 785)

In [18]:
X_train.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
Y_train = X_train.pop('label')

In [4]:
m,n = X_train.values.shape

In [ ]:
for i in range(m):
    for j in range(n):
        if(X_train.values[i][j]!=0):
            X_train.values[i][j]=1

In [15]:
X_train.describe()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
count,42000.0,42000.0,42000.0,42000.0,42000.0,42000.0,42000.0,42000.0,42000.0,42000.0,...,42000.00000,42000.000000,42000.000000,42000.000000,42000.000000,42000.000000,42000.0,42000.0,42000.0,42000.0
mean,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00181,0.001071,0.000500,0.000214,0.000119,0.000048,0.0,0.0,0.0,0.0
std,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.04250,0.032716,0.022355,0.014637,0.010910,0.006901,0.0,0.0,0.0,0.0
min,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
25%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
50%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
75%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
max,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,0.0,0.0,0.0

In [8]:
from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier(n_neighbors=10)
neigh.fit(X_train, Y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=10, p=2,
           weights='uniform')

In [10]:
m2,n2 = X_test.values.shape
for i in range(m2):
    for j in range(n2):
        if(X_test.values[i][j]!=0):
            X_test.values[i][j]=1

In [11]:
print(neigh.predict(X_test))

[2 0 9 ..., 3 9 2]

In [12]:
Y_predict = neigh.predict(X_test)

In [13]:
Y_predict

array([2, 0, 9, ..., 3, 9, 2], dtype=int64)

In [14]:
result= pd.DataFrame(Y_predict,columns=['Label'])

In [28]:
result.insert(0,'ImageId',index)
result.head()

   ImageId  Label
0        1      2
1        2      0
2        3      9
3        4      9
4        5      3

In [29]:
result.to_csv('KNN.csv',index= False)

In [26]:
index = np.arange(1, 28001)

In [27]:
index

array([    1,     2,     3, ..., 27998, 27999, 28000])